root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.{cpp,h}]
indent_size = 4

[*.{cmake,sh}]
indent_size = 2

[CMakeLists.txt]
indent_size = 2
